.react-modal {
    width: 100%;
    max-width: 576px;
    background: var(--background);
    padding: 3rem;
    position: absolute;
    border-radius: 0.25rem;

    top: 100px;
    bottom:0;
    right: 0;
    left: 0;
}
.overlay-react-modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;

    top: 0;
    bottom:0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;


}