.react-modal {
    width: 100%;
    max-width: 576px;
    background: var(--background);
    padding: 3rem;
    position: absolute;
    border-radius: 0.25rem;

    top: 100px;
    bottom:0;
    right: 0;
    left: 0;
}
.overlay-react-modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;

    top: 0;
    bottom:0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;


}

.button {
    margin-left: auto;
    display: block;
    font-size:0.75rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: white;
    border-radius: 12px;
    font-weight: bold;
}

.productsContainer { 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.total {
    display: relative;
    font-size: 1.5rem;
    margin-top: 14.5rem;
    margin-left:16.5rem;
}