.container {
    padding-top: 6rem;
    padding-bottom: 3rem;
    background-color: var(--background);
}

.itemsMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10rem;
    padding-right: 14rem;
    row-gap: 4rem;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    p {
        font-family: 'Indie Flower', cursive;
        color: var(--red-600);
        font-size: 2.375rem;

    }
    h2 {
        font-size: 4.5rem;
        color: var(--gray-600)
    }
}

.sideText {
    margin: 0;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 11rem;
    left: 75%;
    top: 90rem;
    color:  black;
    font-weight: bold;
    opacity: 0.05;
}