.upperContent {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size:1.1rem;
}
.price {
    margin-left: auto;
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
}

.lowerContent {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.quantity {
    background-color: red;
    color: white;
    position: relative;
    font-size: 0.8rem;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 4.2rem;
    left: 3rem;
    z-index: 2;
}

.topping {
    margin-top: 0.1rem;
    color: var(--gray-500);
}

.editButton {
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
    color: red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.removeButton {
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
    color: gray;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}