.container {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    gap: 2.5rem;
    padding-bottom: 1.2rem;
    background: linear-gradient(to right, white 50%, var(--red-600) 0%);
}

.logo {
    margin-left: 4.6rem;
    margin-right: 5.5rem;
    span {
        color: red;
    }
}

.callButton {
    gap: 1rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.item {
    a {
        font-weight: bold;
    }
}

.cart {
    border: transparent;
    background-color: transparent;
}
.cartImage {
    padding: 0.6rem;
    padding-top: 0.4rem;
    margin-left: 2rem;
    background-color: black;
    border-radius: 24px 12px 47px 10px;
   
}
.contactAndCart {
    display: flex;
    align-items: center;
    margin-right: 6.875rem;
    margin-left: auto;
}